.input-for-mobile {
    display: none;
}

.cart-view-for-mobile {
    width: 100vw;
    height: 10vh;
    border-top: 1px #000 solid;
    background-color: #fff;
    position: absolute;
    left: -2.6%;
    bottom: 0;
}

.cart-view-container-for-mobile {
    font-family: system-ui, sans-serif; 
    position: relative;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
}

.cart-view-container-for-mobile button {
    background-color: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
    color: #fff;
    border-radius: 10px;    
}

.cart-view-information-for-mobile h3, h4 {
    margin: 0;
}

.cart-view-information-for-mobile h3 {
    font-size: 18px;
    font-weight: 500;
}

.cart-view-information-for-mobile h4 {
    font-size: 13px;
    font-weight: 400;
    color: #5f5f5f;
}

.error-for-mobile {
    background-color: #0C0C0C;
    color: #fff;
    padding: 5px;
    border-radius: 7%;
}

.full-cart-for-mobile {
    position: absolute;
    left: -2.6%;
    bottom: 0;
    flex-direction: column;
    background-color: #faf9f9;
    gap: 7px;
    width: 100vw;
    z-index: 99999;
    display: none;
}

@keyframes fullCartMotion-for-mobile {
    from {
        height: 0vh;
    }
    to {
        height: 80vh;
    }
}

@keyframes fullCartMotionEnd-for-mobile {
    0% {
        display: flex;
        height: 80vh;
    }
    99.99% {
        display: none;
    }
    100% {
        height: 0vh;
    }
}

.no-animation-for-mobile {
  animation: none !important;
}

.cart-view-for-mobile ~ input:checked ~ .full-cart-for-mobile {
    display: flex;
    animation: fullCartMotion-for-mobile 0.2s linear forwards;
}

.cart-view-for-mobile ~ input:not(:checked) ~ .full-cart-for-mobile {
    animation: fullCartMotionEnd-for-mobile 0.2s linear forwards;
}

.close-icon-for-mobile {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: left;
    left: 10px;
    top: 5px;
    width: 30px;
    height: 30px;
}

.logo-container-for-mobile {
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 9vh;
    background-color: #0C0C0C;
    margin-bottom: 10px;
}

.logo-container-img-for-mobile {
    height: 90%;
}

.cart-services-for-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 5%;
    font-family: system-ui, sans-serif;
    height: 75%; 
    overflow-y: auto;
}

.cart-item-for-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3ededee;
}

.cart-item-for-mobile h3 {
    font-size: 20px;
    font-weight: 700;
}

.cart-item-for-mobile span {
    font-weight: 700;
    font-size: 15px;
}

.cart-item-for-mobile p {
    font-weight: 400;
    font-size: 15px;
}

.cart-services-for-mobile button {
    background-color: #5a3806;
    color: #fff;
    width: 90%;
    padding: 10px 0px;
    border-radius: 7px;

}


.reservar-button-for-mobile {
    margin: 0 auto;
    width: 90%;
    background-color: #0C0C0C;
    color: #fff;
    padding: 5px 0px;
    border-radius: 7px; 
}
