@keyframes slideLeft {
  from {
    transform: translateX(40%); /* Comienza desde el centro */
  }
  to {
    transform: translateX(0%); /* Termina desplazándose hacia la izquierda */
  }
}

.shadow-container {
  padding: 20px;
  height: 75vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.shadow-container.shift-left {
  animation: slideLeft 1s ease forwards; 
}



.barbersGalery {
  display: flex;
  height: 75vh;
  width: 50vw; 
}

.barbersGalery.single {
  width: 400px; 
  transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}
.barbersGalery.single:hover {
  width: 450px; 
}

.barbersGalery-thubmnail {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  object-position: center;
  transition: width 0.5s ease, opacity 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.barbersGalery-thubmnail:hover {
  cursor: pointer;
  width: 300px;
}



@media (max-width: 768px) {
  .shadow-container.shift-left {  
    animation: none; 
  }

  .main-container{
    margin: 0;
  }

  .shadow-container {
    padding: 0;
    height: 60vh;
    width: 95vw;
  }

  .barbersGalery {
    margin: 0 auto;
      height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95vw;
  }

  .barbersGalery.single {
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr;
  }

  .barbersGalery-thubmnail{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  
  .barbersGalery-thubmnail:hover {
    cursor: pointer;
    width: 47.5vw;
  }

}
