@keyframes slideLeft {
  from {
    transform: translateX(40%); /* Comienza desde el centro */
  }
  to {
    transform: translateX(0%); /* Termina desplazándose hacia la izquierda */
  }
}

.shadow-container {
  background-color: #462305;
  border-radius: 7px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7);
  padding: 20px;
  height: 75vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.shadow-container.shift-left {
  animation: slideLeft 1s ease forwards; 
}

.barber-galery {
  width: min-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.barber-galery > .barber-container:nth-child(odd):last-child {
  grid-column: span 2;
  width: min-content;
  margin: 0 auto;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .barber-galery{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .shadow-container.shift-left {  
    animation: none; 
  }

  .shadow-container {
    margin: auto 0;
    width: 80vw;
    height: 60vh;
  }
}

.barber-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #868686;
  color: #FFF;
  height: 200px;
  padding: 10px;
  border-radius: 7px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 9999999999999999;
}

.barber-container img {
  height: 85%;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .barber-container {
    height: 25vh;
  }
  
}


.barber-container p {
  margin: auto 0;
}

.barber-container:hover {
  transform: translateY(-10px);
}



  